services:
    # Frontend
    web:
        image: jitsi/web:${JITSI_IMAGE_VERSION:-unstable}
        container_name: jitsi_web
        restart: ${RESTART_POLICY:-unless-stopped}
        ports:
            - '127.0.0.1:${HTTP_PORT}:80'
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ${CONFIG}/web:/config:Z
            - ${CONFIG}/web/crontabs:/var/spool/cron/crontabs:Z
            - ${CONFIG}/transcripts:/usr/share/jitsi-meet/transcripts:Z
            - ${CONFIG}/web/load-test:/usr/share/jitsi-meet/load-test:Z
        labels:
            org.label-schema.group: "monitored"
            service: "jitsi-web"
        env_file:
            - .env
        mac_address: ${MAC_JITSI_WEB}
        networks:
            meet.jitsi:
        depends_on:
            - jvb
        cpus: 1
        mem_limit: 128mb
        memswap_limit: 128mb
        healthcheck:
          test: wget -q -O /dev/null http://127.0.0.1
          interval: 10s
          timeout: 5s
          retries: 5

    # XMPP server
    prosody:
        image: jitsi/prosody:${JITSI_IMAGE_VERSION:-unstable}
        container_name: jitsi_prosody
        restart: ${RESTART_POLICY:-unless-stopped}
        expose:
            - '${XMPP_PORT:-5222}'
            - '${PROSODY_S2S_PORT:-5269}'
            - '5347'
            - '${PROSODY_HTTP_PORT:-5280}'
        labels:
            org.label-schema.group: "monitored"
            service: "jitsi-prosody"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ${CONFIG}/prosody/config:/config:Z
            - ${CONFIG}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z
        env_file:
            - .env
        mac_address: ${MAC_JITSI_PROSODY}
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_SERVER:-xmpp.meet.jitsi}
        cpus: 2
        mem_limit: 128mb
        memswap_limit: 128mb

    # Focus component
    jicofo:
        image: jitsi/jicofo:${JITSI_IMAGE_VERSION:-unstable}
        container_name: jitsi_jicofo
        restart: ${RESTART_POLICY:-unless-stopped}
        ports:
            - '127.0.0.1:${JICOFO_REST_PORT:-8888}:8888'
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ${CONFIG}/jicofo:/config:Z
        labels:
            org.label-schema.group: "monitored"
            service: "jitsi-jicofo"
        env_file:
            - .env
        depends_on:
            - prosody
        mac_address: ${MAC_JITSI_JICOFO}
        networks:
            meet.jitsi:
        cpus: 2
        mem_limit: 1gb
        memswap_limit: 1gb

    # Video bridge
    jvb:
        image: jitsi/jvb:${JITSI_IMAGE_VERSION:-unstable}
        container_name: jitsi_jvb
        restart: ${RESTART_POLICY:-unless-stopped}
        ports:
            - '${JVB_PORT:-10000}:${JVB_PORT:-10000}/udp'
            - '127.0.0.1:${JVB_COLIBRI_PORT:-8088}:8088'
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ${CONFIG}/jvb:/config:Z
        labels:
            org.label-schema.group: "monitored"
            service: "jitsi-jvb"
        env_file:
            - .env
        depends_on:
            - prosody
        mac_address: ${MAC_JITSI_JVB}
        networks:
            meet.jitsi:
        cpus: 2
        mem_limit: 2gb
        memswap_limit: 2gb

    # Etherpad: real-time collaborative document editing
    etherpad:
        image: jitsi/etherpad
        container_name: jitsi_etherpad
        restart: ${RESTART_POLICY}
        mac_address: ${MAC_JITSI_ETHERPAD}
        networks:
            meet.jitsi:
                aliases:
                    - etherpad.meet.jitsi
        cpus: 2
        mem_limit: 1gb
        memswap_limit: 1gb

# Custom network so all services can communicate using a FQDN
networks:
    meet.jitsi:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: ${SUBNET_JITSI}
        driver_opts:
            com.docker.network.bridge.name: br-jitsi

# vim: et ci pi sts=2 sw=2 ts=2
